@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-size: 10px;
    --rejected: #FFB1B1;
    --creating: #007690;
    --pending: #FFF0A3;
    --approved: #A8FFBB;
}


.creating{
    background-color: var(--creating);
}

.rejected{
    background-color: var(--rejected);
}

.pending{
    background-color: var(--pending);
}

.approved{
    background-color: var(--approved);
}




