.background_crm{
    display: flex;
    flex-direction: column;
    justify-content: center;


    color: white;
    background-color: #242428;
}

.statusCrm{
    width: 100vw;
    height: 8rem;
}

.form_crm{
    display: flex;
    flex-direction: column;
    position: relative;

    padding: 5rem;
    align-items: center;
}

.header_crm{
    display: flex;
}

.header_crm img{
    margin-right: auto;
    position: absolute;
    width: 2rem;

    left: 5rem;
    top: 6.25rem;
}





