.background_crm{
    display: flex;
    flex-direction: column;
    justify-content: center;


    color: white;
    background-color: #242428;
}

.statusCrm{
    width: 100vw;
    height: 8rem;
}

.form_crm{
    display: flex;
    flex-direction: column;
    position: relative;

    padding: 5rem;
    align-items: center;
}

.header_crm{
    display: flex;
}

.title-crm{
    margin-bottom: 10rem;
    font-size: 3rem;
    text-transform: uppercase;
}

.header_crm img{
    margin-right: auto;
    position: absolute;
    width: 2rem;

    left: 5rem;
    top: 6.25rem;
}

.label_date{
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 3rem;
}

.date{
    display: none;
}

.radioDataLegal{
    display: flex;
    gap: 8rem;
}

.radioDataLegal input{
    scale: 1.5;
    width: min-content;
    margin-right: 0.8rem;
}

.radioDataLegal label{
    font-size: 2rem;
    text-transform: uppercase;
}







