.background_crmInfo{
    background-color: #242428;
    display: flex;
    min-width: max-content;
    width: 75rem;
    border-radius: 1.5rem;
}

.background_crmInfo , .crm_info{
    max-width: 330px;
}

.border{
    width: 4rem;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius:1.5rem ;
}

.crm_info{
    display: flex;
    flex-direction: column;
    padding: 2rem 4rem;
}

.crm_info h1 , .crm_info span, .insideSpan{
    color: white;
}

.header_info{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    gap: 0.3rem;
    
}

.atribute{
    display: flex;
    align-items: center;
}
.atribute span{
    padding-left: 0.3rem;
    font-size: 1.4rem;
}
.list_title{
    margin-bottom: 0.5rem;
}

.insideSpan{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    list-style: none;
}
.insideSpanPending{
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 80%;

}

.insideSpan li{
    font-size: 1.4rem;
}

.crm_info h1{
    font-size: 2rem;
    margin-bottom: 4rem;
    margin-bottom: 2rem;
}

.crm_info div{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
}
.crm_info span, .insideSpan li{
    font-size: 1.5rem;
}

.iAm{
    color: #79D8FF;
}


