.flagSelected_background{
    width: 100vw;
    height: 100vh;
    top: 0;
    z-index: 1;
    position: fixed;
    background-color: black;
    opacity: 0.6;
}

.flagSelected_container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 2;
}

.flagSelected_box{
    display: flex;
    flex-direction: column;
    background-color: #29292E;
    border-radius: 2rem;
    box-shadow: 0px 0px 1rem rgba(255, 255, 255, 0.4);
    width: 50rem;
    height: 45rem;
    padding: 4rem 6rem;
}

.flagSelected_header{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}

.flagSelected_header img{
    position: absolute;
    left: 0;
    width: 1.6rem;
}

.flagSelected_header h1{
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
    max-width: 70%;
}

.setComplexidade{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.setComplexidade h1{
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.divRadioComplexidade{
    display: flex; 
    width: 100%;
    margin-bottom: 2rem;
    justify-content: space-around;
}

.divRadioComplexidade div{
    display: flex; 
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.divRadioComplexidade label {
    font-size: 1.3rem;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
}

.divRadioComplexidade input{
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    appearance: none;
    background-color: white;
    outline: none;
    border: 0.0625rem solid gray;
    border-radius: 50%;
    position: relative;
    transition: all 600ms ease-in-out;
}

.divRadioComplexidade input:checked{
    background-color: #009028;
}

.divRadioComplexidade input::before {
    content: "";
    position: absolute;
    width: 0.4rem;
    height: 0.8rem;
    background-color: none;
    opacity: 0;
    transform: rotate(45deg);
    top: 2px;
    left: 5px;
    transition: all 400ms ease-in-out;
  }

  .divRadioComplexidade input:checked::before{
    opacity: 1;
    border-right: 0.4rem solid white;
    border-bottom: 0.4rem solid white;
}

.SetImpactoMudanca{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.SetImpactoMudanca textarea{
    min-height: 10rem;
    font-size: 1.8rem;
}

.flagSelected_containerButtons{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.flagSelected_button{
    width: 15rem;
    height: 7rem;
    margin: auto;

    color: white;
    text-transform: uppercase;
    font-size: 2rem;
    
    border-color: transparent;
    border-radius: 3rem;
}

.flagSelected_button[value='sim']{
    background-color: #009128;
}

.flagSelected_button[value='não']{
    background-color: #BC3315;
}

.flagSelected_textarea{
    font-size: 1.7rem;
    color: white;
    padding: 0.7rem;
    border: groove white 0.1rem;
    background-color: transparent;
    margin-bottom: 3rem;
    min-height: 15rem;
}

.flagSelected_rejeitar{
    width: 23rem;
    height: 10rem;
    margin: 0 auto;

    color: white;
    text-transform: uppercase;
    font-size: 2rem;
    background-color: #E0BE07;
    border-color: transparent;
    border-radius: 3rem;
}

