
.background_home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6rem;
    background-color: #22415D;
    padding: 3rem 5rem 6rem 5rem;
    min-height: 100vh;
    height: max-content;
}

.header{
    display: grid;
    grid-template-columns: min-content auto;
    grid-template-rows: auto;
    gap: 8rem;
    align-items: center;
}

.header_left{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: min-content min-content;
    justify-items: center;
    
    gap: 6.2rem;
}

.user_details{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    gap: 2rem;
    align-items: center;
}

.user_details img{
    width: 12rem;

    border: solid black 0.2rem;
    border-radius: 50%;
}

.user_info{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: min-content min-content;
    gap: 0.75rem;

    justify-items: center;
}

.user_name , .user_registration{
    color: white;
}

.user_name{
    font-size: 2.5rem;
    width: max-content;
    max-width: 30rem;
}

.user_registration{
    font-size: 2.16rem;
}

.create_button{
    position: relative;
}

.create_button img{
    position: absolute;
    top: 1.32rem;
    left: 1.32rem;
    width: 1.98rem;
}

.create_button input{
    padding: 1.08rem 1.98rem 1.08rem 3.78rem;

    font-size: 1.98rem;

    border: none;
    border-radius: 1.98rem;

    background-color: #007690;
    color: white;
}

.header_right{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: min-content min-content min-content;
    margin-left: auto;
}

.logout{
    margin-left: auto;
    width: 6rem;
    cursor: pointer;
}


.filters{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.8rem;
}

.div_filters{
    display: flex;
    gap: 1.8rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.crm_status{
    display: flex;
    gap: 4rem;
}


button{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    width: 100%;
}

.crms{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;
}

.loadMore{
    width: min-content;
    padding: 1.5rem;
    border-radius: 50%;
}

.notCrm{
    font-size: 2.4rem;
    color: white;
    text-transform: uppercase;
    text-align:center;

    margin: 6rem;
}




@media screen and (max-width: 56.30rem){
    .header{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: min-content auto;
        justify-items: center;
        align-items: center;
    }

    .header_left a{
        margin-right: 8rem;
    }

    .logout{
        position: absolute;
        top: 6rem;
        right: 5rem;
    }

}

@media screen and (max-width: 38.75rem) {
    
    .header{
        justify-items: center;
    }

    .logout{
        top: 20rem;
        right: 7rem;
    }

    .crm_status{
        flex-direction: column;
        gap: 3rem;
    }

    .notCrm{
        max-width: 28rem;
    }

    .dataDeAbertura{
        flex-direction: column;
    }
   
}

@media screen and (min-width: 56.32rem) and (max-width: 71.25rem){
    .header{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: min-content auto;
        justify-items: center;
    }

    .logout{
        position: absolute;
        top: 6rem;
        right: 20rem;
    }

}








