.background_login{
    background-color: #22415E;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;
}

.div_login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 2.5rem 5rem;

    background-color: #122944;
    box-shadow: 0px 0.0585rem 0.468rem 0.351rem #4F84C1;
    border-radius: 2.5rem;
}

.div_login form {
    display: grid;
    gap: 1.25rem;
    justify-items: center;

}

.field{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.field label{

    font-size: 2.34rem;
    color: white;
    padding-left: 0.78rem;
    padding-bottom: 0.8125rem;
}

.field input{
    background: #B9CDE6;
    color: black;

    border: none;
    border-radius: 0.78rem;

    padding: 0.52rem;
    padding-left: 1.3rem;
    
    font-size: 2.6rem;
}

.password{
    position: relative;
}

.password img{
    position: absolute;
    bottom: 0.52rem;
    right: 1.3rem;
    width: 3.12rem;
}

.logo{
    width: 26rem;
    margin-bottom: 1.625rem;
}

.entrar{
    font-size: 2rem;
    color:white;
    background: #15405F;


    border: none;
    border-radius: 1.82rem;

    margin-top: 1.625rem;
    padding: 1.3rem 5.2rem;
    width: auto;
    opacity: 0.3;
}

@media screen and (max-width: 500px) {
    
    .div_login{
    
        padding: 2rem 4rem;
        box-shadow: 0px 0.0468rem 0.374rem 0.28rem #4F84C1;
        border-radius: 2rem;
    }
    
    .div_login form {
        gap: 1rem;
    }
    
    .field label{
        font-size: 1.87rem;
        padding-left: 0.624rem;
        padding-bottom: 0.65rem;
    }
    
    .field input{
        border-radius: 0.624rem;
    
        padding: 0.416rem;
        padding-left: 1.04rem;
        
        font-size: 2.08rem;
    }
    
    .password img{
        position: absolute;
        bottom: 0.416rem;
        right: 1.04rem;
        width: 2.49rem;
    }
    
    .logo{
        width: 26rem;
        margin-bottom: 1.625rem;
    }
    
    .entrar{
        font-size: 2rem;
    
        border-radius: 1.82rem;
    
        margin-top: 1.625rem;
        padding: 1.3rem 5.2rem;
    } 
}

