.div_sectorInvolved {
    background-color: #b9cde5;
    padding: 1rem;
    display: flex;
    width: max-content;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    border-radius: 1.5rem;
  }
  .div_sectorInvolved label {
    font-size: 2.2rem;
    text-transform: uppercase;
    color: black;
  }
  
  .div_sectorInvolved input{
      width: 2.6rem;
      height: 2.6rem;
      cursor: pointer;
      appearance: none;
      background-color: white;
      outline: none;
      border: 0.0625rem solid gray;
      border-radius: 50%;
      position: relative;
      transition: all 600ms ease-in-out;
  }
  
  .div_sectorInvolved .checkAprovado:checked{
      background-color: #009028;
  }

  .div_sectorInvolved .checkAprovado::before {
    content: "";
    position: absolute;
    width: 0.5rem;
    height: 1.1rem;
    background-color: none;
    opacity: 0;
    transform: rotate(45deg);
    top: 3.5px;
    left: 7.6px;
    transition: all 400ms ease-in-out;
  }

  .div_sectorInvolved .checkAprovado:checked::before{
    opacity: 1;
    border-right: 0.4rem solid white;
    border-bottom: 0.4rem solid white;
}

  .div_sectorInvolved .checkRejeitado:checked{
    background-color: #ff0000;
}

.div_sectorInvolved .checkRejeitado:checked::before, 
.div_sectorInvolved .checkRejeitado:checked::after{
    opacity: 1;
    border-right: 0.4rem solid white;
    border-bottom: 0.4rem solid white;
}
  .div_sectorInvolved .checkRejeitado::before {
    content: "";
    position: absolute;
    width: 1.3rem;
    height: 0rem;
    background-color: none;
    opacity: 0;
    transform: rotate(45deg);
    top: 9.71px;
    left: 3.3px;
    transition: all 400ms ease-in-out;
  }

  .div_sectorInvolved .checkRejeitado::after {
    content: "";
    position: absolute;
    width: 0rem;
    height: 1.3rem;
    background-color: none;
    opacity: 0;
    transform: rotate(45deg);
    top: 3.5px;
    left: 10px;
    transition: all 400ms ease-in-out;
  }


  

  
  
  
  