.div_sector{
    background-color: #b9cde5;
    padding: 1rem;

    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    border-radius: 1.5rem;
}

.div_sector span{
    color: black;
    font-size: 2rem;
}

.remove_sector{
    width: 2.3rem;
}

.remove_sector img{
    width: 100%;
}